<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirhoseini.itag">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- Needed for Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <!-- Allows the app to access precise location. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Allows the app to connect to paired bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- Allows the app to discover and pair with bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Allows the app to initiate a phone call without going through the Dialer user interface for the user to confirm the call. -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BLEService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>